.backbutton {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

@keyframes fadeIn{
    from{opacity: 0%;}
    to{opacity: 100%}
}

#raidcard{
    animation-name:fadeIn;
    animation-duration: 2s;
}

#footer{
    top: 100vh;
    position: absolute;
}
/* The animation code
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }
  div {
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
  }
*/